@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.scene {
  padding: 0;
  margin: auto;
  height: 100vmin;
  display: grid;
  place-items: center;
  background: var(--primary-color);
  font-family: "Chakra Petch", sans-serif;
  overflow: hidden;
  color: white;
  letter-spacing: .4em;
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

@media only screen and (max-width: 768px) {
 .scene {
    height: 100vh;
  }
}

#emoji {
  font-size: 80px;
}

#progress {
  font-size: 30px;
}

#loader {
  --filter: drop-shadow(0px 0px 2px #fff) 
		drop-shadow(0px 0px 3px #00e5ff) blur(0px);
  --filter2: drop-shadow(0px 0px 25px #fff) 
		drop-shadow(0px 0px 30px #00e5ff) blur(6px);
  --t1: scale(1) skew(0deg);
  --t2: scale(2) skew(10deg);
  --t3: scale(2) skew(-10deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  filter: var(--filter);
}

.loaderactive {
  animation: scaleUp .05s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: var(--t1);
    filter: var(--filter);
  }
  50% {
    transform: var(--t2);
    filter: var(--filter2);
  }
  60% {
    transform: var(--t3);
  }
  100% {
    transform: var(--t1);
    filter: var(--filter);
  }
}
