:root {
  /* We will define the variable in this pseudo element*/
  --primary-color: #0e0018; /* default dark mode */
  --text-color: #fff;
  --cursorImg: url("../src/assets/img/magic-wand.png") 3 3;
	cursor: var(--cursorImg), auto !important;
}

.dark-mode {
  --primary-color: #cbf8ff;
  --text-color: #121212;
}
/* clearing out default css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

html {
  /*scroll-behavior: smooth;*/
  scroll-padding-top: 75px; /* 75px is added to compensate for the height of the fixed navbar */
}

body {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: 'Centra', sans-serif !important;
}

@media only screen and (max-width: 768px) {
  /* Styles here will only apply to screens with a maximum width of 768px */
  body {
    max-width: 100vb;
  }
}

/*logo image*/

.logo-img {
  margin: 0;
  padding: 0;
  width: 25%;
  height: auto;
  align-content: baseline;
}

.logo-section {
  animation: 1.7s zoomIn;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  /* Styles here will only apply to screens with a maximum width of 768px */
  .logo-img {
    margin: 0;
    padding: 0;
    width: 65%;
    height: auto;
    align-content: baseline;
  }
}

/*for FAB Whatsapp*/
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.whatsapp-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25d366;
  color: white;
  border-radius: 50px;
  padding: 10px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  transition: width 0.5s;
  z-index: 9999;
}

.whatsapp-text {
  padding-left: 10px;
  z-index: 9999;
}


/*To hide an element only oon mobile screens*/
@media only screen and (max-width: 768px) {
.mobile-hide {
    display: none;
  }
}

.no-style-a {
  all: unset;
  display: inline-block;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a {
  all: unset;
}

a:hover {
  text-decoration: none;
}

.logo-text{
  color: var(--text-color);
  font-weight: 700;
  font-size: 26px;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: rgb(1, 179, 1);
  display: inline;
  padding: 25px;
  font-size: 25px;
}

p.danger {
	color: rgb(207, 28, 28);
  display: inline;
  padding: 25px;
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  p.success,   p.danger {
    display: block;
    padding: 25px 10px;
    font-size: 18px;
  }
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background: linear-gradient(70deg, #000000, #284451, #408175);
  box-shadow: 0 0 60px rgb(105, 214, 244, 0.5);
}

nav.navbar a.navbar-brand {
  width: 10%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
font-weight: 400;
color: #fff !important;
letter-spacing: 0.8px;
padding: 0 25px;
font-size: 18px;
opacity: 0.75;
}

.navbar-nav {
 margin-left: 80px;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
width: 40%;
z-index: 1;
transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
  /* Styles here will only apply to screens with a maximum width of 768px */
 .navbar-nav {
  margin-left: 0;
  }

  .social-icon a {
    width: 30px;
    height: 30px;
  }
  .navbar-collapse {
    background-color: var(--primary-color);
    border-radius: 40px;
    padding: 10px;
  }
}

.social-icon a:hover img {
filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
font-weight: 700;
color: #fff;
border: 1px solid #fff;
border-radius: 40px;
padding: 18px 34px;
font-size: 18px;
margin-left: 18px;
position: relative;
background-color: transparent;
transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  cursor: var(--cursorImg);
}
.navbar-text button span {
z-index: 1;
}
.navbar-text button::before {
content: "";
width: 0%;
height: 100%;
position: absolute;
border-radius: 40px;
background-color: #fff;
left: 0;
top: 0;
z-index: -1;

}
.navbar-text button:hover {
color: #121212;
}

@media only screen and (max-width: 768px) {
  /* Styles here will only apply to screens with a maximum width of 768px */
  .navbar-text button {
    padding: 10px;
    margin-left: 50px;
  }
  .navbar-text button:hover {
    background-color: #fff;
    color: #000000;
    }
}

.navbar-text button:hover::before {
content: "";
width: 100%;
height: 100%;
position: absolute;
transition: 0.3s ease-in-out;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
width: 24px;
height: 17px;
background-image: none;
position: relative;
border-bottom: 2px solid #fff;
transition: all 300ms linear;
top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
width: 24px;
position: absolute;
height: 2px;
background-color: #fff;
top: 0;
left: 0;
content: '';
z-index: 2;
transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
transform: rotate(45deg);
background-color: #fff;
height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
transform: translateY(8px) rotate(-45deg);
background-color: #fff;
height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
border-color: transparent;
}



/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 130px 0 100px 0;
  background-image: url('./assets/img/banner/banner-bg2-lo-2.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadein 0.2s;
}
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 23px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  overflow: visible;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  animation: fadein 7s;
}
@media only screen and (max-width: 768px) {
 .banner h1 {
  font-size: 55px;
  height: 210px;
  }
}

/*for gradient color animation of title text*/
.flow {
  color: #ffffff;
  
  background-image: linear-gradient( 35deg, #00ffaa 25%, #e2f973 60%, #51e202 100%);
  background-size: 200% auto;
  
          background-clip: text;
  -webkit-background-clip: text;

          text-fill-color: transparent; 
  -webkit-text-fill-color: transparent;
          
          background-clip: text;
  -webkit-background-clip: text;
  
          animation: flow 5s ease-in-out infinite;
  -webkit-animation: flow 5s ease-in-out infinite;
}
  
@-webkit-keyframes flow {
    0%{background-position:0% 50%}
    24%{background-position:66% 20%}
    50%{background-position:100% 50%}
    75%{background-position:72% 60%}
    100%{background-position:0% 50%}
}
@-moz-keyframes flow {
    0%{background-position:0% 50%}
    24%{background-position:66% 20%}
    50%{background-position:100% 50%}
    75%{background-position:72% 60%}
    100%{background-position:0% 50%}
}
@keyframes flow {
    0%{background-position:0% 50%}
    24%{background-position:66% 20%}
    50%{background-position:100% 50%}
    75%{background-position:72% 60%}
    100%{background-position:0% 50%}
}

.banner p {
  color: #eae8e8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  text-shadow: -1px 0 rgb(61, 61, 61), 1px 0 rgb(39, 39, 39), 0 -1px rgb(132, 132, 132), 0 1px rgb(81, 81, 81);
}
.banner button {
  color: #fff;
  font-weight: 700;
  border: 1px solid #d2d1d1;
  border-radius: 40px;
  padding: 10px;
  font-size: 20px;
  margin-top: 50px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
 .banner button {
  margin-top: 10px;
  font-size: 15px;
    }
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  width: 100%;
}


.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}


/************ Skills Css ************/
.skill {
  padding: 0 0 50px 0;
  margin-top: -60px;
  display: flex;
  justify-content: center;
}
.skill-bx {
  background: radial-gradient(ellipse at center, #43cea2, #185a9d);
  /*background: radial-gradient(circle at center, #232526, #414345);*/
  /*background: radial-gradient(ellipse at center, #141e30, #243b55);*/
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
 .skill-bx {
  width: 90%;
  padding: 30px 30px;
  }
}

.skill-tilt-area {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
 .skill-tilt-area {
  gap: 15px;
  }
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  justify-content: center;
  background-color: #3d3d3b;
  border-radius: 20px;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
 .skill-item {
  width: 120px;
  }
}

.glowing::before{
  content: '';
  position: absolute;
  background: linear-gradient(45deg, #e8f74d, #ff6600d9, #00ff66, #13ff13, #ad27ad, #bd2681, #6512b9, #ff3300de, #5aabde);
  background-size: 400%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 20px;
  filter: blur(3px);
  z-index: -1;
  animation: glower 20s linear infinite;
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 400% 0;
  }
  
  100% {
    background-position: 0 0;
  }
}

.skill-item h5 {
  all: unset;
  letter-spacing: 0.8px;
  line-height: 1.2em;
  padding-top: 10px;
  color: #fff;
}

/*About section style*/
.skills-background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 65%;
  right: 0;
  z-index: -4;
}

@media only screen and (max-width: 768px) {
 .skills-background-image-right {
  top: 36%;
  width: 90%;
  }
}

.About {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px 180px;
}

@media only screen and (max-width:768px) {
  .About {
    padding: 15px 40px;
  }
}

.About h1 {
  font-size: 35px;
  font-weight: 500;
  color: #2a5298;
  letter-spacing: 0.8px;
  line-height: 1.2em;
  margin: 30px auto;
}

.wizard-lottie {
  background: radial-gradient(circle, rgba(67, 206, 162, 1) 0%, rgba(67, 206, 162, 0) 50%);
  padding: 20px;
}

.journey {
  /*background-color: #00ffaa;*/
  color: #0e254d;
  padding: 20px;
  margin-top: 20px;
  border-radius: 25px;
  z-index: 5;
  background-image: linear-gradient(35deg, #00ffaa 25%, #e2f973 60%, #51e202 100%);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.carousal-container {
  margin-top: -40px;
  overflow: visible;
}

@media only screen and (max-width: 768px) {
 .carousal-container {
  margin-top: -20px;
  width: 120%;
  }
}

.carousel-item-content {
  height: 250px;
  /*background-color: #2a5298;*/
  background: radial-gradient(circle, #2a5298, #1e3c72, #203a43);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 160px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
 .carousel-item-content {
  padding: 30px;
  height: 300px;
  width: 100%;
  }
  .carousel-item-content p {
  padding-top: 100px;
  padding-bottom: 100px;
  }
}

.carousel-item-content:nth-child(2) {
  background-color: #203a43;
}

.carousel-item-content:nth-child(3) {
  background-color: #2c5364;
}


/*Projects styles*/

.projects-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 60px auto;
}


.projects-section h1 {
  font-size: 35px;
  font-weight: 500;
  color: #2a5298;
  letter-spacing: 0.8px;
  line-height: 1.2em;
}

@media only screen and (max-width: 768px) {
 .projects-section p {
  padding: 20px;
  }
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 30px auto;
}

.project-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
  transition: transform 0.3s;
}

@media only screen and (max-width: 768px) {
 .projects-container {
  width: 80%;
  }
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-title {
  padding: 20px 0 0 20px;
}

.project-para {
  padding: 20px;
  height: 180px;
}

@media only screen and (max-width: 768px) {
 .project-para {
  overflow: scroll;
  }
}

.project-button {
  margin: 0 0 20px 20px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
  position: relative;
  transition: 0.3s ease-in-out;

  box-shadow: 
    0.2em 0.2em 0 0 #19bc8b,
    inset 0.2em 0.2em 0 0 #19bc8b;
}
.project-button span {
  z-index: 1;
  position: relative;
}
.project-button:hover {
  background-color: #223030;
  box-shadow: 
    0.4em 0.2em 0 0 #7b19bc,
    inset 0.4em 0.4em 0 0 #59a20a;
  color: #c6fd8a;;
}


.projects-background-image-left {
  top: 45%;
  position: absolute;
  bottom: 0;
  width: 85%;
  left: 0;
  z-index: -4;
}


/*Job experience section styles*/
.job-experience-section {
  padding: 60px 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
 .job-experience-section {
  padding: 0;
  }
}

.job-experience-section h1 {
  font-size: 35px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 40px;
}

.job-experience-section p {
  padding: 40px 20px;
  padding-top: 0;
  }

@media only screen and (max-width: 768px) {
  .job-experience-section p {
   padding: 40px 20px;
   padding-top: 0;
   }
 }

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.experience-card-container {
  max-width: 900px;
  padding: 0;
}

@media only screen and (max-width: 768px ) {
  .experience-card-container {
    max-width: 340px;
    padding: 0;
  }
}

.experience-card {
  background-color: #1e1e2f;
  border: 1.5px solid #333;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  animation: backgroundGlow 10s infinite ease-in-out;
}

@keyframes backgroundGlow {
  0% {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  }
  25% {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  }
  50% {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
  }
  75% {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  }
  100% {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  }
}

.experience-card h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.experience-card h3 {
  font-size: 20px;
  color: #bbbbbb;
  margin-bottom: 10px;
}

.experience-card .date {
  font-size: 16px;
  color: #999999;
  margin-bottom: 2px;
}

.experience-card .description {
  font-size: 16px;
  color: #dddddd;
  line-height: 1.5;
  padding: 0;
  white-space: pre-line;
}

.experience-card:hover {
  transform: translateY(-10px);
}


/* ContactForm.css */
.container-dark {
  padding: 60px 30px 100px 30px !important;
  color: #fff;
  border-radius: 8px;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .container-dark {
    background: linear-gradient(90.21deg, #431a6d -5.91%, #2c1447 111.58%) !important;
    width: 90% !important;
    padding: 60px 5px 100px 5px !important;
  }
}

.contact h2 {
	font-size: 40px;
	font-weight: 700;
  margin-bottom: 30px;
}

.form-control-dark {
  width: 100% !important;
  background: rgba(255, 255, 255, 0.1) !important;
  border-radius: 10px !important;
  color: #fff !important;
  padding: 18px 16px !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  letter-spacing: 0.8px !important;
  transition: 0.3s ease-in-out !important;
  margin: 10px 20px 10px 0;
}

@media only screen and (max-width: 768px) {
  .form-control-dark {
    font-weight: 300 !important;
  font-size: 15px !important;
  }
}

.form-control-dark::placeholder { 
  font-size: 15px !important;
  font-weight: 100 !important;
  color: #03e99c !important;
  font-style: italic;
  }

  .form-control-dark:focus {
    background: rgba(255, 255, 255, 0.336) !important;
  }

  .form-control-dark:focus::placeholder {
    font-size: 10px !important;
    color: rgba(232, 255, 247, 0.4) !important;
  }

.contact-img {
  width: 90%;
}

.contact-button {
  font-weight: 700;
  color: #c6fd8a;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  position: relative;
  transition: 0.3s ease-in-out;

  box-shadow: 
    0.3em 0.3em 0 0 #19bc8b,
    inset 0.3em 0.3em 0 0 #19bc8b;

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.75;
      
      &::after {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: text-bottom;
        border: .15em solid currentColor;
        border-right-color: transparent;
        border-top-color: transparent;
        border-radius: 50%;
        margin-left: 1rem;
        -webkit-animation: spinner .4s linear infinite;
        animation: spinner 0.4s linear infinite;
      }
    }
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

.contact-button span {
  z-index: 1;
  position: relative;
}
.contact-button:hover {
  background-color: #223030;
  box-shadow: 
    0.4em 0.2em 0 0 #7b19bc,
    inset 0.4em 0.4em 0 0 #59a20a;
  color: #fff;
}

/*About section style*/
.contact-background-image-right {
  top: 80%;
  position: absolute;
  bottom: 0;
  width: 45%;
  right: 0;
  z-index: -4;
}

@media only screen and (max-width: 768px) {
 .contact-background-image-right {
  top: 75%;
  width: 90%;
  }

  .contact-title {
    text-align: center;
  }

}

.contact-email {
  margin-top: 20px;
  font-size: 1.1em;
  color: #ccc;
  text-align: center;
}

.contact-email a {
  color: #1e90ff;
  text-decoration: none;
}

.contact-email a:hover {
  text-decoration: underline;
}


/* interactive Cauldron fluid simluation */
/* Parent container to position the cauldron and the canvas */
.cauldron-container {
  position: relative;
  width: 630px; /* Adjust as needed */
  height: 600px; /* Adjust as needed */
  margin: 280px auto 10px auto; /* Center horizontally */
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
}

@media only screen and (max-width: 768px) {
  .cauldron-container {
    display: none;
  }
}

/* Cauldron image styling */
.cauldron-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure it is above the canvas */
  pointer-events: none; /* Allows clicks to pass through to the canvas */
}

/* Canvas styling */
.cauldron-canvas {
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 50%; /* Makes the canvas circular */
  clip-path: circle(50% at 50% 50%); /* Ensures the canvas is circular */
  z-index: 0; /* Ensures it is below the cauldron image */
  margin: 0 auto; /* Center the canvas */
  padding: 50px;
  
}